<%
klass ||= nil
f ||= nil
parent_klass ||= nil
%>
<% if klass && f %>

  <% klass.admin_fields.each do |k,v| %>



    <% if v[:type] == 'association' %>
      <% if v[:nested] %>

        <div class="row">
          <div class="col s12">
            <%= f.input(k, as: :nested, hint: v[:help]) %>
          </div>
        </div>

      <% elsif !inverse_relationship_exists?(klass, k, parent_klass) %>

        <div class="row">
          <div class="col s12">
            <%= f.association(k, include_blank: true, hint: v[:help]) %>
          </div>
        </div>

      <% end %>

    <% elsif v[:type] == 'polymorphic' %>

      <%= f.input(k, as: 'polymorphic', hint: v[:help]) unless inverse_relationship_exists?(klass, k, parent_klass) %>

    <% else %>

      <%
      input_html = {}
      input_html[:placeholder] = v[:placeholder]
      input_html[:class] = 'materialize-textarea' if v[:type].to_sym == :text
      %>

      <div class="row">
        <div class="col s12">
          <% if [:boolean, :check_boxes, :radio_buttons].include?(v[:type].to_sym) %>
            <%= f.input_field(k, as: v[:type], input_html: input_html, hint: v[:help]) %>
            <% if v[:label] %>
              <%= f.label(v[:label]) %>
            <% else %>
              <%= f.label(k) %>
            <% end %>
          <% else %>
            <% if v[:label] %>
              <%= f.input(k, as: v[:type], label: v[:label], input_html: input_html, hint: v[:help]) %>
            <% else %>
              <%= f.input(k, as: v[:type], input_html: input_html, hint: v[:help]) %>
            <% end %>
          <% end %>
        </div>
      </div>

    <% end %>
  <% end %>

<% end %>
