<%
f ||= nil
attribute_name ||= nil
klass ||= nil
parent_klass ||= nil

singular  ||= false
attribute_name = attribute_name.to_s.sub(/_id(s)?\z/, '\1')
title     = t("admin.fields.#{ parent_klass.name.underscore.sub("/", "_") }.#{ attribute_name }")


%>

<div data-nested class="input-field nested">
  <%= content_tag(:label, (singular ? title : title.pluralize)) %>
  <ul class="collapsible popout" data-collapsible="accordion" data-nested-list>
    <%= f.simple_fields_for(attribute_name) do |f2| %>
      <%= render(partial: '/cohesive_admin/inputs/nested/li', locals: { f: f2, klass: klass, parent_klass: parent_klass }) %>
    <% end %>
    <li>
      <%= content_tag(:a, class: 'collapsible-add-link green-text', data: { turbolinks: false, 'nested-add' => true }) do %>
        <span class="secondary-content"><i class="material-icons green-text tooltipped" data-delay="500" data-position="left" data-tooltip="Add new <%= title %>">add</i></span>
        Add New <%= title %>
      <% end %>
    </li>
  </ul>

  <ul data-nested-template="<%= f.object.object_id %>" type="text/x-handlebars-template" style="display: none">
    <%= f.simple_fields_for(attribute_name, klass.new(), child_index: "__#{f.object.object_id}_index__") do |f2| %>
      <%= render(partial: '/cohesive_admin/inputs/nested/li', locals: { f: f2, klass: klass, parent_klass: parent_klass, id: "__#{f.object.object_id}_object_id__", label: "New #{title}"  }) %>
    <% end %>
  </ul>
</div>


